<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- File Names-->
    <add key="InputFileName" value="MtgSecretSanta.csv" />
    <add key="LogFileNamePrefix" value="MtgSecretSantaErrorLog" />
    
    <!-- Email Settings -->
    <add key="EmailFromAddress" value="" />
    <add key="EmailSubjectLine" value="Mtg Secret Santa 2019 Pairings Are Here!" />
    <!-- THIS CAN ONLY BE A SINGLE CHARACTER!-->
    <!-- Describes how the list below is broken appart. -->
    <add key="AttributesToSendDelimiter" value="," /> 
    <!-- This is a list of attribues about giftee that should be sent to gifter -->
    <!-- The list is delimited by the character defined above and cannot contain whitespace. -->
    <!-- Valid attributes are those below in the "Value Headers" section following the underscore (_). -->
    <add key="AttributesToSendToGifter" value="Email,RedditName,Name,Address,City,State,ZipCode,Country,MilitaryStatus,NewPlayerStatus,ShirtSize,CurrentDecksPlayed,PlayerProfile,Commander,FavoriteColors,FavoriteCharacter,PreferredSleeveColorBrand,FavoriteArtist,CardVersionPreferrences,FavoriteDraftFormat,FavoriteSet,MostUsedTokens,WhiteWhale,Projects,SoughtSingles,HomemadeGiftsBoolean,WhatNotToGet,AdditionalRequests,OtherInterests" />
    
    <!-- Email Contents -->
    <add key="EmailBodyIntroduction" value="" />
    <add key="EmailBodyConclusion" value="" />
    <!-- Value Headers -->
    <add key="AttributeHeader_Id" value="" />
    <add key="AttributeHeader_GifterId" value="" />
    <add key="AttributeHeader_Email" value="Email Address" />
    <add key="AttributeHeader_RedditName" value="Reddit Username" />
    <add key="AttributeHeader_Name" value="Name" />
    <add key="AttributeHeader_Address" value="Street Address" />
    <add key="AttributeHeader_City" value="City" />
    <add key="AttributeHeader_State" value="State\Provence" />
    <add key="AttributeHeader_ZipCode" value="Postal Code" />
    <add key="AttributeHeader_Country" value="Country" />
    <add key="AttributeHeader_Country2" value="" />
    <add key="AttributeHeader_ContactMeathod" value="" />
    <add key="AttributeHeader_MilitaryStatus" value="Military Status" />
    <add key="AttributeHeader_NewPlayerStatus" value="New Player Status" />
    <add key="AttributeHeader_ShirtSize" value="Shirt Size" />
    <add key="AttributeHeader_CurrentDecksPlayed" value="Current Decks" />
    <add key="AttributeHeader_PlayerProfile" value="Player Profile" />
    <add key="AttributeHeader_Commander" value="Current Commander" />
    <add key="AttributeHeader_FavoriteColors" value="Favorite Color\Color Combo" />
    <add key="AttributeHeader_FavoriteCharacter" value="Favorite Character" />
    <add key="AttributeHeader_PreferredSleeveColorBrand" value="Preferred Sleeve Brand/Color" />
    <add key="AttributeHeader_FavoriteArtist" value="Favorite Artist" />
    <add key="AttributeHeader_CardVersionPreferrences" value="Foils/Alters/Foreign Preference" />
    <add key="AttributeHeader_FavoriteDraftFormat" value="Favorite Draft Format" />
    <add key="AttributeHeader_FavoriteSet" value="Favorite Set\Block" />
    <add key="AttributeHeader_MostUsedTokens" value="Most Used Tokens" />
    <add key="AttributeHeader_WhiteWhale" value="White Whale" />
    <add key="AttributeHeader_Projects" value="Current Project" />
    <add key="AttributeHeader_SoughtSingles" value="Single Preferences" />
    <add key="AttributeHeader_HomemadeGiftsBoolean" value="Homemade Gift Preference" />
    <add key="AttributeHeader_WhatNotToGet" value="What Not To Get" />
    <add key="AttributeHeader_AdditionalRequests" value="Additional Requests" />
    <add key="AttributeHeader_OtherInterests" value="Other Interests" />
    <add key="AttributeHeader_ShipOutOfCountry" value="" />
    <add key="AttributeHeader_GifteePreferrencesBoolean" value="" />
    <add key="AttributeHeader_GifteePreferrencesString" value="" />
    <add key="AttributeHeader_VolunteerGifterBoolean" value="" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>