<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- File Names-->
    <add key="InputFileName" value="MtgSecretSanta.txt" />
    <add key="LogFileNamePrefix" value="MtgSecretSantaErrorLog" />

    <!-- Email Settings -->
    <add key="EmailFromAddress" value="MtgSecretSanta@gmail.com" /> <!-- This might not appear depending on their email provider -->
    <add key="EmailSubjectLine" value="Mtg Summer Santa 2020 Pairings Are Here!" />
    <add key="EmailBodyTemplateFile" value="EmailContents.txt" /> <!-- This contains the name of a txt file that holds the contents of body of the emails to send.  -->
    <!-- Anything enclosed in ${giftee_*} will be replaced by the giftee's information and ${gifter_*} with the gifter's information where * is valid column header. -->

    <!-- Header Column Identification -->
    <add key="AttributeNameForId" value="Id" />
    <add key="AttributeNameForGifterId" value="Giftee" />
    <add key="AttributeNameForEmailAddress" value="Email" />


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 enableSsl="true"
                 userName="@gmail.com"
                 password=""
                 defaultCredentials="false" />
        <!--This must be false on Gmail-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>