<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- File Names-->
    <add key="InputFileName" value="MtgSecretSanta.csv" />
    <add key="LogFileNamePrefix" value="MtgSecretSantaErrorLog" />
    
    <!-- Email Settings -->
    <add key="EmailFromAddress" value="MtgSecretSanta@gmail.com" /> <!-- This might not appear depending on their email provider -->
    <add key="EmailSubjectLine" value="Mtg Secret Santa 2019 Pairings Are Here!" />
    
    <!-- Header Column Identification -->

    <add key="AttributeNameForId" value="" />
    <add key="AttributeNameForGifterId" value="" />
    <add key="AttributeNameForEmailAddress" value="" />

    <!-- Email Contents -->
    <!-- This contains the body of the email.  Anything enclosed in ${} will be replaced by the giftee's information -->
    <!-- This must be an exact match! -->
    <!-- It is XML encoded HTML -->
    <add key="EmailBodyTemplate" value="&lt;div&gt;
      &lt;div&gt;
            Hi, welcome to the summer exchange! Here&#39;s your info: /u/${RedditName}&lt;br /&gt;
            &lt;br /&gt;
            Mailing address is:
            &lt;p&gt;
                  ${Name}&lt;br /&gt;
                  ${Address}&lt;br /&gt;
                  ${City}, ${State}&lt;br /&gt;
                  ${Zipcode}&lt;br /&gt;
                  ${Country}&lt;br /&gt;
                  &lt;br /&gt;
                  Email: ${Email}
            &lt;/p&gt;
      &lt;/div&gt;
      &lt;table&gt;
            &lt;tr&gt;
                  &lt;th&gt;Question&lt;/th&gt;
                  &lt;th&gt;Response&lt;/th&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Are they military?&lt;/td&gt;
                    &lt;td&gt;${MilitaryStatus}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Are they a new player?&lt;/td&gt;
                    &lt;td&gt;${NewPlayerStatus}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What&#39;s your T-Shirt size?&lt;/td&gt;
                    &lt;td&gt;${ShirtSize}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What formats/decks do you play?&lt;/td&gt;
                    &lt;td&gt;${CurrentDecksPlayed}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What &#39;profile&#39; are you?&lt;/td&gt;
                    &lt;td&gt;${PlayerProfile}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Who&#39;s your commander?&lt;/td&gt;
                    &lt;td&gt;${Commander}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What&#39;s your favorite color/color combo?&lt;/td&gt;
                    &lt;td&gt;${FavoriteColors}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Who&#39;s your favorite character?&lt;/td&gt;
                    &lt;td&gt;${FavoriteCharacter}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Preferred sleeve brand/color?&lt;/td&gt;
                    &lt;td&gt;${PreferredSleeveColorBrand}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Who&#39;s your favorite artist?&lt;/td&gt;
                    &lt;td&gt;${FavoriteArtist}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Do you like foils/alters/foreign cards?&lt;/td&gt;
                    &lt;td&gt;${CardVersionPreferrences}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What&#39;s your favorite draft format?&lt;/td&gt;
                    &lt;td&gt;${FavoriteDraftFormat}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What&#39;s your favorite set or block?&lt;/td&gt;
                    &lt;td&gt;${FavoriteSet}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What are your most used tokens?&lt;/td&gt;
                    &lt;td&gt;${MostUsedTokens}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What&#39;s your White Whale, something you&#39;ve been after a long time?&lt;/td&gt;
                    &lt;td&gt;${WhiteWhale}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What projects are you trying to complete?&lt;/td&gt;
                    &lt;td&gt;${Projects}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;A there any particular singles you&#39;re looking for?&lt;/td&gt;
                    &lt;td&gt;${SoughtSingles}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Do you like handmade gifts?&lt;/td&gt;
                    &lt;td&gt;${HomemadeGiftsBoolean}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Is there anything you don&#39;t want?&lt;/td&gt;
                    &lt;td&gt;${WhatNotToGet}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;Any other requests?&lt;/td&gt;
                    &lt;td&gt;${AdditionalRequests}&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                    &lt;td&gt;What are your interests other than magic?&lt;/td&gt;
                    &lt;td&gt;${OtherInterests}&lt;/td&gt;
            &lt;/tr&gt;
      &lt;/table&gt;
      &lt;p&gt;
            Feel free to contact them for more info! Please remember to get tracking and ship by July 22. I know that some of you are shipping internationally, where tracking is not possible  (I&#39;m sorry- I had to do some international pairings to make the stragglers bracket work). Please get proof of shipping  when tracking is not feasible. Submit &lt;a href=&quot;https://forms.gle/1ba74z1AkLtikcT28&quot;&gt;here&lt;/a&gt;
      &lt;/p&gt;
&lt;/div&gt;" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 enableSsl="true"
                 userName="@gmail.com" 
                 password=""
                 defaultCredentials="false" /> <!--This must be false on Gmail-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>